<div class="container">
  <div class="header">
    <div class="logo">
      <h1>Co<span>PASS</span></h1>
      <P>community online</P>
    </div>
    <div class="hmenu">
      <select name="option1" class="s1">
        <option value="" disabled selected>branch</option>
        <option value="1">Option 1</option>
     </select>
      <div class="bell"><i class="pi pi-bell"></i></div>
      <div class="person" >
        <div class="p1"><h3>JD</h3></div>
      <select name="option" class="s2">
        <option value="" disabled selected>John Doe</option>
        <option value="1">Option 1</option>
     </select>
      </div>
    </div>
  </div>
  <div class="vmenu">
    <div class="colm1">
      <div class="colm1a">
        <a><i class="pi pi-home"></i></a>
        <a><i class="pi pi-wallet"></i></a>
        <a><i class="pi pi-cog"></i></a>
        <a><i class="pi pi-slack"></i></a>
        <a><i class="pi pi-book"></i></a>
        <a><i class="pi pi-chart-line"></i></a>
        <a><i class="pi pi-microsoft"></i></a>
      </div>
      <div class="colm1b">
        <a><i class="pi pi-envelope"></i></a>
        <a><i class="pi pi-envelope"></i></a>
        <a><i class="pi pi-envelope"></i></a>
      </div>
    </div>
    <div class="colm2">
      <nav><ul>
        <li class="listy">Customer<i class="pi pi-check"></i></li>
        <li>Basic information<i class="pi pi-check"></i></li>
        <li>KYC<i class="pi pi-check"></i></li>
        <li>Aadhaar Card<i class="pi pi-check"></i></li>
        <li>Membership<i class="pi pi-check"></i></li>
        <li>Income Proof<i class="pi pi-check"></i></li>
        <li>Bank<i class="pi pi-check"></i></li>
        <li>Existing Loan<i class="pi pi-check"></i></li>
        <li>property<i class="pi pi-check"></i></li>
        <li>Approval & print<i class="pi pi-check"></i></li>
        <li>Verification Report<i class="pi pi-check"></i></li>
        <li>Credit Report<i class="pi pi-check"></i></li>
        <li>sanction Letter & TC<i class="pi pi-check"></i></li>
        <li>property Valuation report<i class="pi pi-check"></i></li>
        <li>loan Agreement<i class="pi pi-check"></i></li>
        <li>Field Verification<i class="pi pi-check"></i></li>
        <li>Field Verification Address<i class="pi pi-check"></i></li>
        <li>Field Verification<i class="pi pi-check"></i></li>
        <li>history<i class="pi pi-check"></i></li>
        <li class="listy">Guarantor 01<i class="pi pi-check"></i></li>
        <li class="listy">Guarantor 02<i class="pi pi-check"></i></li>
      </ul></nav>
    </div>
    <div class="colm3">
      <nav><ul>
        <li>Home <i class="pi pi-angle-right"></i></li>
        <li>Saved Views <i class="pi pi-angle-right"></i></li>
        <li>View/Edit <i class="pi pi-angle-right"></i></li>
        <li>Appraisal and Validation</li>
      </ul></nav>
      <app-customer></app-customer>
    </div>
  </div>
  </div>
<div class="footer1"></div>


