.container {
  margin: 40px 40px 0px 40px;
  padding: 0;
  background-color: white;
  min-height: 690px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-box-shadow: 2px 0.5px 60px #9b9a9a;
          box-shadow: 2px 0.5px 60px #9b9a9a;
}

.footer {
  width: 100%;
  background-color: white;
  height: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.hmenu, .logo {
  width: 40%;
}

.bell {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-box-shadow: 1px 0.9px 30px #9b9a9a;
          box-shadow: 1px 0.9px 30px #9b9a9a;
}

.bell i {
  margin: 5px;
}

h1 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.hmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-bottom: 10px;
}

.logo h1 {
  color: red;
}

.logo span {
  color: darkblue;
}

.s1 {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  outline: none;
  border: 1px solid #d6d6d6;
}

.s2 {
  padding: 10px 30px 10px 10px;
  border-radius: 20px;
  border-style: none;
  font-weight: bold;
  outline: none;
}

.person {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p1 {
  background-color: greenyellow;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.p1 h3 {
  margin: 3px;
}

.vmenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: minmax(630px, auto);
}

.colm1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  border-right: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colm1 a {
  color: gray;
}

.colm1 a:hover {
  color: black;
}

.colm2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 1;
  grid-row: 1;
}

.colm2 ul {
  list-style-type: none;
  font-size: large;
  height: 595px;
  overflow: scroll;
}

.colm2 ul li {
  cursor: pointer;
  margin: 15px 60px 15px 0px;
}

.colm2 ul li i {
  font-weight: bolder;
  font-size: large;
  color: #8ae92b;
  float: right;
}

.colm2 ul::-webkit-scrollbar {
  display: none;
}

.colm3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 14;
  grid-column: 7 / 21;
  -ms-grid-row: 1;
  grid-row: 1;
}

.colm3 ul {
  list-style-type: none;
  font-size: large;
  padding: 0px;
}

.colm3 ul li {
  display: inline;
  cursor: pointer;
  margin: 5px;
}
/*# sourceMappingURL=app.component.css.map */