@import "src/styles.scss";
.container{
  margin: 40px 40px 0px 40px;
  padding: 0;
  background-color: $white;
  min-height: 690px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 1px 0.9px 80px $lightgray;
  font-family: $fontfamily;
  font-size: $smallfont;
  font-weight: $mediumfont;
}
.header{
  @include displays;
  justify-content: space-between;
  max-width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid $lightgray;
  .logo{
    width: 40%;
    margin-bottom: 5px;
    h1{
      @include sizezero;
      margin-left: 10px;
      color: $red;
    }
    span{
      color: $darkblue;
    }
    p{
      @include sizezero;
      margin-left: 10px;
    }
  }
   .header-nav{
     @include displays;
     width: 40%;
     .header-nav-branch-select{
      padding: 10px 30px 10px 30px;
      border-radius: 20px;
      font-weight: $thickestfont ;
      outline: none;
      border: 1px solid $lightgray;
    }
    .header-nav-bell{
      background-color: $white;
      border-radius: 50%;
      @include samewh1;
      text-align: center;
      box-shadow: 1px 0.9px 30px $lightgray;
      i{
        margin: 5px;
      }
      p{
        width: 15px;
        height: 15px;
        background-color: $red;
        color: $white;
        border-radius: 50%;
        font-size: smaller;
        position: relative;
        top: -40px;
        left: 23px;

      }
    }
    .header-nav-customer{
      display:inline-flex;
      align-items: center;
      .header-nav-customer-firstletter{
        background-color: $skyblue;
        border-radius: 50%;
        @include samewh1;
        text-align: center;
        h3{
          margin: 3px;
        }
      }
      .header-nav-customer-select{
        padding: 10px 30px 10px 10px;
        border-radius: 20px;
        border-style: none;
        font-weight: $thickestfont;
        outline: none;
      }
    }
  }
}

.body-container{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: minmax(630px, auto);
  .body-icon-navbar{
    grid-column: 1 ;
    grid-row: 1 ;
    border-right: 1px solid $lightgray;
    .body-icon-navbar-section1{
      width: 60%;
      margin-left: 20%;
      margin-top: 20px;
      padding-bottom: 20px;
      min-height: 360px;
      border-bottom: 2px solid $lightgray;
      @include displays;
      flex-direction: column;
      a{
      color: $gray;
      }
      a:hover{
      color: black;
      }
    }
    .body-icon-navbar-section2{
      padding-top: 20px;
      min-height: 150px;
      @include displays;
      flex-direction: column;
      a{
      color: $gray;
       }
       a:hover{
       color: black;
       }
    }
  }
  .body-ul-navbar{
    grid-column: 2 / 6 ;
    grid-row: 1;
    .body-ul-navbar-list{
      @include sizezero;
      list-style-type: none;
     font-size: $smallfont;
      font-weight: $thickfont;
      height:630px;
      overflow: scroll;
      li{
        cursor: pointer;
        padding: 10px 20px 10px 25px;
        i{
          font-weight: $thickestfont;
          font-size: $mediumsize;
          color: $green;
          float: right;
        }
        .body-ul-navbar-list-gray{
          @include sizezero;
          list-style-type: none;
          font-size: $smallfont;
          font-weight: $thickfont;
          color: $gray;
          li{
              cursor: pointer;
              padding: 10px 40px 10px 0px;
             i{
              font-weight: $thickestfont;
              font-size: $mediumsize;
              color: $gray;
              float: left;
              margin-right: 5px;
              }
              a{
                text-decoration: none;
                color: $gray;
              }
          }
        }
      }
      .body-ul-navbar-list-bluebackground{
        background-color: $lightblue;
        border-left: 3px solid $red;
        margin-bottom: 2px;
      }
    }
      ul::-webkit-scrollbar {
        display: none;
      }
  }

  .body-horizontal-navbar{
    grid-column: 6 / 21;
    grid-row: 1 ;
    color: $gray;
    ul{
     list-style-type: none;
    font-size: $smallfont;
     font-weight: $mediumfont;
     padding-left: 20px;
     li{
      display: inline;
      cursor: pointer;
      margin: 5px;
      }
    }
  }
}

.footer{
  width: 100%;
  background-color: $white;
  height: 16px;
}















