<div class="container">
  <!-- class boxbrief for customer details in brief template-->
  <div class="customer-brief-bluebox">
    <div class="customer-brief-whitebox">
      <img src="./assets/images1.jfif" alt="varghese" >
      <div class="customer-brief-whitebox-items">
        <h3 class="customer-brief-whitebox-item1">A Laxmi Narasimha</h3>
        <p class="customer-brief-whitebox-item2">Female/42yrs</p>
        <a href="#" class="customer-brief-whitebox-item3">more info +</a>
      </div>
    </div>
    <div class="customer-brief-table-container-box">
      <div class="customer-brief-table-container">
        <table class="customer-brief-table">
          <tr>
            <td class="customer-brief-table-firstcol">Type</td>
            <td>Vehicle Loan</td>
          </tr>
          <tr>
            <td class="customer-brief-table-firstcol">Appl.No</td>
            <td>VL-001201</td>
          </tr>
        </table>
      </div>
      <div class="customer-brief-table-container">
        <table class="customer-brief-table">
          <tr>
            <td class="customer-brief-table-firstcol">Amount</td>
            <td>50000</td>
          </tr>
          <tr>
            <td class="customer-brief-table-firstcol">status</td>
            <td style="color: rgb(90, 90, 253);">New</td>
          </tr>
        </table>
      </div>
      <div class="customer-brief-table-container">
        <table>
          <tr>
            <td class="customer-brief-table-firstcol">Stage</td>
            <td>Work Desk 05</td>
          </tr>
          <tr>
            <td class="customer-brief-table-firstcol">Priority</td>
            <td style="color: red;">High</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- class customer-details-boxes1 for the details template-->
  <div class="customer-details-boxes-container">
    <h2>Appraisal and Validation</h2>
    <!-- basic information temp -->
    <div id="Basic Information" class="customer-details-boxes">
      <h3>Basic Information</h3>
      <div class="customer-details-box">
        <table class="customer-details-box-table">
          <tr>
            <td class="customer-details-box-table-firstcol">Applicant Name</td>
            <td class="customer-details-box-table-valuecol">A Laxmi Narasimha</td>
          </tr>
          <tr>
            <td class="customer-details-box-table-firstcol">Mobile Number</td>
            <td class="customer-details-box-table-valuecol">+919747123456</td>
          </tr>
        </table>
        <div class="customer-details-box-image2"></div>
      </div>
    </div>
    <!-- Aadhaar card temp -->
    <div id="Aadhaar Card" class="customer-details-boxes">
      <h3>Aadhaar Card</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar upload 01</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar upload 02</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Aadhaar Number<span>*</span></td>
          <td colspan="2"><input type="text"></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DOB on Aadhaar</td>
          <td class="customer-details-box-table-valuecol">20/04/1979</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Age</td>
          <td class="customer-details-box-table-valuecol">42yrs</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    </div>
        <!-- pan card temp -->
        <div id="PAN Card" class="customer-details-boxes">
          <h3>PAN Card</h3>
          <div class="customer-details-box"><table>
            <tr>
              <td class="customer-details-box-table-firstcol">PAN upload</td>
              <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
              <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
              <td class="customer-details-box-table-previewcol">preview</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">PAN Number<span>*</span></td>
              <td colspan="2"><input type="text"></td>
            </tr>
          </table>
          <div class="customer-details-box-image">
            <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
          </div>
        </div>
        </div>
        <!-- membership temp -->
        <div id="Membership" class="customer-details-boxes">
          <h3>Membership</h3>
          <div class="customer-details-box"><table>
            <tr>
              <td class="customer-details-box-table-firstcol">Membership No<span>*</span>/CIF</td>
              <td class="customer-details-box-table-valuecol">CIF001</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Membership or CIF Date</td>
              <td class="customer-details-box-table-valuecol">10/04/2016</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Relationship Years</td>
              <td class="customer-details-box-table-valuecol">05 Yrs</td>
            </tr>
          </table>
          <div class="customer-details-box-image"></div>
        </div>
        </div>
        <!-- Address temp -->
        <div id="Address" class="customer-details-boxes">
          <h3>Address</h3>
          <div class="customer-details-box"><table>
            <tr>
              <td class="customer-details-box-table-firstcol">Address Line 01</td>
              <td class="customer-details-box-table-valuecol">Thekkumbad</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Address Line 02</td>
              <td class="customer-details-box-table-valuecol">Kovapuram(po)</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">City</td>
              <td class="customer-details-box-table-valuecol">Kannur</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">State</td>
              <td class="customer-details-box-table-valuecol">Kerala</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Pin Code</td>
              <td class="customer-details-box-table-valuecol">670309</td>
            </tr>
          </table>
          <div class="customer-details-box-image"></div>
        </div>
        </div>
        <!-- Family Details temp -->
        <div id="Family Details" class="customer-details-boxes">
          <h3>Family Details</h3>
          <div class="customer-details-box"><table>
            <tr>
              <td class="customer-details-box-table-firstcol">Religion</td>
              <td class="customer-details-box-table-valuecol">Hindu</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Caste</td>
              <td class="customer-details-box-table-valuecol">Brahmin</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Marital Status</td>
              <td class="customer-details-box-table-valuecol">Married</td>
            </tr>
            <tr>
              <td class="customer-details-box-table-firstcol">Number of Dependants</td>
              <td class="customer-details-box-table-valuecol">2</td>
            </tr>
          </table>
          <div class="customer-details-box-image"></div>
        </div>
        </div>
    <!-- Employment temp -->
    <div id="Employment" class="customer-details-boxes">
      <h3>Employment</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Employment proof upload</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Salary proof upload</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Occupation</td>
          <td class="customer-details-box-table-valuecol">Accountant</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Business/Employer Name</td>
          <td class="customer-details-box-table-valuecol">Truke Electronics</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
        <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
  </div>
     <!-- Loan Details temp -->
     <div id="Loan Details" class="customer-details-boxes">
      <h3>Loan Details</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Purpose of Loan</td>
          <td class="customer-details-box-table-valuecol">Vehicle</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Rate of Interest</td>
          <td class="customer-details-box-table-valuecol">10%</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Tenure of Loan</td>
          <td class="customer-details-box-table-valuecol">1 year</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">EMI</td>
          <td class="customer-details-box-table-valuecol">5,000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Tentative Insurance Premium Payable</td>
          <td class="customer-details-box-table-valuecol">10%</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Informed about product, interests etc.</td>
          <td class="customer-details-box-table-valuecol">yes</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Bank temp -->
    <div id="Bank" class="customer-details-boxes">
      <h3>Bank</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Bank statement(Avg.salary credits)</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Monthly Salary / Credits(Avg)</td>
          <td class="customer-details-box-table-valuecol">25,000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DRD Account Number</td>
          <td class="customer-details-box-table-valuecol">204556783</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DRD Account Balance</td>
          <td class="customer-details-box-table-valuecol">10,000</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">DRD Account Status</td>
          <td class="customer-details-box-table-valuecol">Regular</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">RD Account Number</td>
          <td class="customer-details-box-table-valuecol">34567834</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">RD Account Balance</td>
          <td class="customer-details-box-table-valuecol">10,000</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    </div>
    <!-- Income Proof temp -->
    <div id="Income Proof" class="customer-details-boxes">
      <h3>Income Proof</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Annual Income as Itr(last Fy)/based on latest salary</td>
          <td class="customer-details-box-table-valuecol">3,00,000.00</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Itr(Last financial Year)</td>
          <td class="customer-details-box-table-valuecol">2019-2020</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Other Sourse of Income(not in ITR)</td>
          <td class="customer-details-box-table-valuecol">5,000.00</td>
        </tr>
      </table><div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Property temp -->
    <div id="Property" class="customer-details-boxes">
      <h3>Property</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Property Holding Type</td>
          <td class="customer-details-box-table-valuecol">Owned</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Property Valuation</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Co-owner Name</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Relationship</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Existing Loan temp -->
    <div id="Existing Loan" class="customer-details-boxes">
      <h3>Existing Loan</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Upload existing loan document</td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Loan Account 1</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Loan Account Balance</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Overdue</td>
          <td class="customer-details-box-table-valuecol">NA</td>
        </tr>
      </table>
      <div class="customer-details-box-image">
        <img src="" alt="">
            <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
      </div>
    </div>
    </div>
    <!-- Legal temp -->
    <div id="Legal" class="customer-details-boxes">
      <h3>Legal</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Any Legal case on going</td>
          <td class="customer-details-box-table-valuecol">no</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Information regarding any legal case(optional)</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
      </table>
      <div class="customer-details-box-image2"></div>
    </div>
    </div>
    <!-- Other Co-operative Credit Society affiliation temp -->
    <div id="Other" class="customer-details-boxes">
      <h3>Other Co-operative Credit Society affiliation</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Any Other Co-operative Credit Society associated with(optional)</td>
          <td class="customer-details-box-table-valuecol">no</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Co-operative Society name</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Location</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Membership no</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Fixed Obligations to Income Ratio(FOIR) temp -->
    <div id="Fixed Obligations" class="customer-details-boxes">
      <h3>Fixed Obligations to Income Ratio(FOIR)</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Total Income Per month (TI) Salary + Other income</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Total fixed monthly obligations(To)</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">FOIR(TO/TI*100)</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
      </table><div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Field Verification Check Report temp -->
    <div id="Verification Check Report" class="customer-details-boxes">
      <h3>Field Verification Check Report</h3>
      <div class="customer-details-box"><table>
        <tr>
          <td class="customer-details-box-table-firstcol">Field Verification(Check report with photo)</td>
          <td colspan="2"><select name="fieldverification" id="">
            <option value="" selected>Positve</option>
          </select></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">All documents submitted, validated</td>
          <td colspan="2"><select name="fieldverification" id="">
            <option value="" selected>yes</option>
          </select></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Telephonic confirmation(optional)</td>
          <td colspan="2"><select name="fieldverification" id="">
            <option value="" selected>yes</option>
          </select></td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Branch appraisal note</td>
          <td colspan="2"><textarea name="" id="" cols="3" rows="2"></textarea></td>
        </tr>
      </table>
      <div class="customer-details-box-image"></div>
    </div>
    </div>
    <!-- Branch appraisal temp -->
    <div id="Branch appraisal" class="customer-details-boxes">
      <h3>Branch appraisal</h3>

        <table class="branch-appraisal-table">
        <tr>
          <td class="customer-details-box-table-firstcol">Valuation Amount(HL/Ml)</td>
          <td class="customer-details-box-table-valuecol">---</td>
          <td colspan="5" rowspan="4">
            <div class="customer-details-box-image1">
              <img src="" alt="">
                  <div class="customer-details-box-image-preview"><p>Preview <i class="pi pi-eye"></i></p></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Title & Search Clear</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Valuation report</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Title & Search report</td>
          <td class="customer-details-box-table-valuecol">---</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Property Document (Sale deed/7/12 extract etc..)</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Mortgage Deed</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Quotation/ Invoice-vehicle</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Hypothecation document</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Vehicle RC copy</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Vehicle transfer form</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
        <tr>
          <td class="customer-details-box-table-firstcol">Any other form uploaded</td>
          <td><button>Upload<i class="pi pi-upload"></i></button>file</td>
          <td><i class="pi pi-pencil"></i></td>
          <td><i class="pi pi-trash"></i></td>
          <td class="customer-details-box-table-progresscol"><progress max="10" value="10"></progress></td>
          <td class="customer-details-box-table-valuecol">Uploaded 1 file</td>
          <td class="customer-details-box-table-previewcol">preview</td>
        </tr>
      </table>
    </div>
    <div >
      <button type="submit" class="button-submit">Submit</button>
      <button type="button" class="button-referback">Refer Back</button>
    </div>
  </div>

</div>
