@import "src/styles.scss";
.container{
  width: 98%;
  margin-left: 30px;
  font-family: $fontfamily;
  font-size: $mediumsize;
  font-weight: $thickfont;
  .customer-brief-bluebox{
    @include displays;
    width: 96%;
    height: 125px;
    background-color: $skyblue;
    border-radius: 25px;
    border-bottom: 1px solid $lightgray;
    margin-bottom: 2px;
    padding: 7px;
    .customer-brief-whitebox{
      width: 33%;
      height: 70%;
      border-radius: 50px;
      img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: relative;
        top:-8px;
        z-index: 1;
        }
      .customer-brief-whitebox-items{
        background-color: $white;
        width:100%;
        height:100%;
        border-radius: 50px;
        font-size: $smallfont;
        font-weight: $mediumfont;
        position: relative;
        left: 0px;
        top:-97px;
        z-index: 0;
        border-bottom: 1px solid $lightgray;
        .customer-brief-whitebox-item1{
          margin: 0px;
          padding: 10px 10px 0px 0px;
           margin-left: 100px;
           color: $darkblue;
        }
        .customer-brief-whitebox-item2{
          margin: 0px;
          padding-top: 5px;
           margin-left: 100px;
        }
        .customer-brief-whitebox-item3{
          margin-right: 30px;
          padding: 0px;
          float: right;
          text-decoration: none;
          color: $blue;
        }
      }
    }
    .customer-brief-table-container-box{
      width: 63%;
      height: 80%;
      font-size: $smallfont;
      font-weight: $lightfont;
      display: flex;
      .customer-brief-table-container{
        width: 33%;
        height: 100%;
        table{
          margin-top: 6%;
          padding: 0px;
          width: 100%;
          height: 70%;
          text-align:start;
          tr{
            @include sizezero;
            height: 25%;
          }
          td{
            @include sizezero;
            padding-left:10%;
          }
          .customer-brief-table-firstcol{
            font-size: 15px;
            font-weight: $thickfont;
          }
        }
        .customer-brief-table{
          border-right: 2px solid $lightgray;
        }
      }
    }
  }

  .customer-details-boxes-container{
    width: 97%;
    height: 447px;
    overflow: auto;
    font-size: large;
    font-weight: $thickfont;
    h2,h3{
      color: $darkblue;
    }
    h2{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h3{
      width:600px;
      height: 30px;
      border-left: 3px solid $red;
      padding-top: 0px;
      padding-left: 20px;
      margin-top:0px;
    }
    .customer-details-boxes{
      padding: 25px ;
      width: 99%;
      min-height: 100px;
      background-color: $white;
      border: 1px solid $lightgray;
      border-radius: 20px;
      margin-bottom: 30px;
      .customer-details-box{
        width:100%;
        @include displays;
      }
      .customer-details-box-table{
        width: 40%;
      }
      table{
        width:70%;
         progress{
         margin-bottom:3px ;
          -webkit-appearance: none;
           width: 80%;
           height: 7px;
           overflow: hidden;
           &::-webkit-progress-bar{
             background:$gray ;
             border-radius: 25px;
           }
           &::-webkit-progress-value{
             background: $green;
             border-radius: 25px;
           }
          }
        tr{
          height: 50px;
          td{
            font-size: $smallfont;
             font-weight:$lightfont;
            input{
             @include  selectsame;
            }
            select{
             @include  selectsame;
            }
            textarea{
             @include  selectsame;
            }
           }
           .customer-details-box-table-firstcol{
             width: 40%;
             font-size:14.5px;
             font-weight:$thickfont;
           }
           .customer-details-box-table-progresscol{
            width:25%;
           }
           .customer-details-box-table-valuecol{
             width: 20%;
             font-size: $smallfont;
             font-weight:$lightfont;
           }
           .customer-details-box-table-previewcol{
            width: 20%;
            font-size: $smallfont;
             font-weight:$lightfont;
             color: $blue;
           }
        }
      }
      .customer-details-box-image2{
        width: 60%;
        height: 100px;
      }
      .customer-details-box-image{
        align-self: start;
        width: 30%;
        height: 200px;
        background-color: $white;
        @include displays;
        flex-direction: column;
        img{
          background-color: $lightgray;
          width:90% ;
          height: 140px;
          border-radius: 25px;
          float: right;
        }
        .customer-details-box-image-preview{
          width:90% ;
          height: 35px;
          background-color: $lightblue;
          border-left: 3px solid $darkblue;
          p{
            @include sizezero;
            width:80%;
            margin-top: 5px;
            margin-left: 20px;
            font-weight: $mediumfont;
            font-size: $mediumsize;
            color: $darkblue;
          }
          i{
            margin-top: 5px;
            float: right;
            color: $blue;
          }
        }
      }
      .customer-details-box-image1{
        width: 60%;
        height: 200px;
        background-color: $white;
        @include displays;
        flex-direction: column;
        margin-left: 40%;
        img{
          background-color: $lightgray;
          width:90% ;
          height: 140px;
          border-radius: 25px;
          float: right;
        }
        .customer-details-box-image-preview{
          width:90% ;
          height: 35px;
          background-color: $lightblue;
          border-left: 3px solid $darkblue;
          p{
            @include sizezero;
            width: 80%;
            margin-top: 5px;
            margin-left: 20px;
            font-weight: $mediumfont;
            font-size: $mediumsize;
            color: $darkblue;
          }
          i{
            margin-top: 5px;
            float: right;
            color: $blue;
          }
        }
      }

      .branch-appraisal-table{
        width:100%;
        i{
          margin: 10px;
        }
        .pi-pencil{
          color: $darkblue;
        }
        .pi-trash{
          color: $red;
        }
        button{
          margin-right: 5px;
          font-size: $mediumsize;
          width: 80%;
         height: 40px;
         border-radius: 25px;
         border: 1px solid $darkblue;
         background-color: $white;
         outline: none;
        }
        }
    }
    .button-submit{
      background-color: $green;
      @include button-common;
    }
    .button-referback{
      background-color: $red;
      @include button-common;
    }

  }
  .customer-details-boxes-container::-webkit-scrollbar {
    display: none;
  }
}









